:root{
    --colorPrincipal:#5B1B30;
    --letrasnav:#AC9758;
    --blanco:#FFFFFF;
    --negro:#000000;
    --contraste:#FEEBEB;
    --colorSecundario:#9F1442;
}



body{
    background-color: var(--contraste);
    font-size: 16px;

}

h1{
    width: 50%;

    text-shadow: 0pt 4pt var(--negro);
    color: var(--blanco);
}

.texto{
    margin:2% 15% ;

    text-align: center;
}

.navbar{
    background-color: var(--colorPrincipal)!important;
    height: auto;
    padding: 0% !important;
}
 .navbar-toggler-icon{
    background-color: var(--letrasnav);
    color: var(--letrasnav);
 }

 .navbar-collapse{
    margin-right: 0;
 }

span{
    color: var(--letrasnav) !important;
}
.nav-link{
    color: var(--letrasnav);
    font-size: 1.667rem; /*20pt*/
    font-weight: 500;
    margin: 0 25px;
}

.nav-link{
    --bs-nav-link-hover-color:var(--contraste);
}



 footer a img{
    height: auto;
    width: auto;
    max-width: 130%;
} 
footer{
    background-color: var(--colorPrincipal);
    color: var(--letrasnav);
    text-align: center;
    margin: 0;
}
footer h5 {
  font-size: 13pt;
  margin-top: 1rem;
}

footer svg {
  width: 30px;
  height: 30px;
}
footer .mb-4 {
    align-self: center;
}
.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: var(--contraste);
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -35%);
    text-align: center;
    color: var(--blanco);

}

.hero-text h1 {
  font-weight: 700;
  line-height: 1.4;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.card {
  background-color: var(--contraste);
  border: none;
  width: 90%;
  margin: 2rem auto;
  
}
.card img {
    object-fit: cover;
    height: 100%;
    border-radius: 30pt;
}
.carousel .card{
    width: auto;
    align-self: center;
    border-radius: 30pt;
    background-color: var(--blanco);
    box-shadow:  1px 1px 3px 1px var(--negro);
}
.col-md-6 .card{
    width: 70%;
}
#Cambio {
    background-color: var(--colorSecundario);
    color: var(--blanco);
}
#Cambio .modal-body h5{
    color: var(--colorSecundario);

}
.carousel-indicators{
    margin-bottom: 0% !important;
}
.carousel-indicators [data-bs-target]{
    background-color: var(--colorPrincipal);
    height: 15px;
    width: 40px;
    border-radius:47%;

}
#carouselHistoria .card{
    width: 100%;
}
#Cambio h5{
    color: var(--blanco);
}
.card-body h5 {

  margin-bottom: 1rem;
  color: var(--colorSecundario);
}

.card-body p {
  font-size: 14pt;
  text-align: justify;
  line-height: 1.8;
  margin-right: 10pt;
}

.inicio-filas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.inicio-filas h5, .inicio-filas p{
    padding-left: 10%;
    padding-right: 5%;
}
.inicio-filas h5{
    color: var(--colorSecundario);
}
.inicio .d-flex{
    flex-direction: column;
}
.ImaInic{
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 4% 0;

}
.card-Vino{
    background-color: var(--blanco);
    margin-bottom: 2rem;
    
}
.card-Vino img{
    height: 25%;
    width: 50%;
}
#Blanco, #Tinto,#Formulario{
    background-color: var(--colorPrincipal);
}


.card-body h5 {
    color: var(--colorSecundario);
}




.card-body p {
    text-align: justify;
}

.nav-item{
    color: var(--letrasnav);
    z-index: 1;
}

.row{
    margin: 0% !important;
    bottom: 20% !important;
}

form input, form textarea, form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: var(--colorSecundario);
    color: var(--blanco);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--colorPrincipal);
}
footer h5:hover{
    text-decoration:underline;
}
#Carrusel-inicio{
    position: relative;
    left: 10%;
}
/* #Carrusel-final{
    position: relative;
    right: 10%;
} */
.carousel-inner{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.carousel-indicators button{
    color: var(--colorSecundario)!important;
    border-radius: 4px;
}
.carousel-indicators .active{
    color: var(--colorPrincipal) !important;
}
.carousel-item{
    align-self: center;
    width: 50%;
    height: 50%;
    margin: 0%;
    z-index: 1;
    transition: transform 1s ease, opacity 1s ease;

}
.carousel-item .active{
    z-index: 3;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: var(--colorSecundario);

}

.carousel-item img{
    height: 80vh;
    align-self: center;
} 
.carousel p, .carousel h5{
    color: var(--negro);
    text-align: center;
 }
 .carousel{
    padding-bottom: 3%;
 }
 
@media (prefers-reduced-motion: reduce) {
    .carousel-item {
        transition: opacity .15s linear!important;
    }
}
.icono:hover{
    width: 2rem;
    height: auto;
}


/* --- Estilos específicos para la página de Tienda --- */
.tienda .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.tienda .card{
    background-color: var(--blanco); 
    border: 1px solid var(--colorSecundario); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out;
}


.tienda-title {
    color: var(--colorPrincipal);
    text-transform: uppercase;
}
.tienda img{
    height: 250px; 
    width: auto;
    object-fit: contain;
    padding: 15px;
}
.tienda .card-footer{
    background-color: var(--blanco);
}

.btn{
    background-color: var(--colorSecundario);
    color: var(--blanco);
    border-radius: 30%;
    width: 25%;
    align-self: center;
}

.tienda .card-title {
    color: var(--colorPrincipal);
    margin-bottom: 0.5rem;
}

.tienda .card-text {
    color: var(--negro);
    overflow: hidden;
    margin-bottom: 1rem;
    text-align: center;
}

.tienda .price {

    color: var(--colorSecundario); 
    margin-bottom: 1rem;
    text-align: center;
}

.tienda .btn {
    background-color: var(--colorSecundario);
    border-color: var(--colorSecundario);
    font-weight: 600;
    transition: background-color 0.3s;
}

.tienda-btn:hover {
    background-color: var(--colorPrincipal);
    border-color: var(--colorPrincipal);
}
.navbar-nav{
    flex-direction: row;
    justify-content: space-between;
}
/* Fuentes */
.lora-Contenido {
  font-family: "Lora", serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem; /*12pt*/
}
.playfair-display-Titulo {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.083rem ;/*25 pt*/
}

.playfair-Subtitulo {
  font-family: "Playfair", serif !important; 
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 1.667rem ; /*20pt*/
}

.playfair-Navegacion {
  font-family: "Playfair", serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  /* font-size: 1rem;*/  /*12pt*/ 

}


.nav-link-active {
    color: var(--letrasnav) !important;
    text-decoration: underline;
    text-decoration-color: var(--letrasnav);
    text-underline-offset: 5px;
}
/* @media (min-width: 992px) {
  .navbar-nav {
    margin: 0 auto; centra los items
    text-align: center;
  }
} */

@media  (max-width:991px )  {

    .Mobil .carousel-item .card{
        border-radius: 0%;
        margin-top: 2%;
    }
    .Mobil img{
        height: auto;
        padding: 0!important;

    }
    .Mobil .carousel-inner{
        height: 50%;
    }
    footer .mb-4 {
    align-self:center;
    }
    /* .navbar-toggler {
        order: 1; el menú a la izquierda
    } */
 

/*
    .navbar-collapse {
        text-align: right; menú hamburguesa a la derecha al desplegar
    }

    .navbar-nav {
        text-align: right;
    } */
     .hero-text  {
        font-size:100%!important;

    }

     .nav-link{

        margin: 0%;
        float: right;
    } 

    /* #Logo{
      width: 25%;
      height: 25%;
    } */


    .card img {
        width: 100%;
        border-radius: unset;
        padding: 15%;
    }

    .card-body{
        text-align: center;
    }
    .carousel-item .card{
        width: 100% !important;
        height: 50% !important;
        overflow:auto;
    }
    .ImaInic{
        object-fit: cover;
        height: 100%;
        width: 100%;
        padding: 4% 4%;

    }
    .inicio-filas h5, .inicio-filas p{
        padding-left: 10%;
        padding-right: 5%;
        padding-top: 2%;
    }


    


}
 /* @media(max-width:768px){

  .card{
    height: auto;
    width: 100%!important;
  }
  .card img{
    padding: 0!important;

  }
  .carousel-item img{
    height: 100%;
  }
  .carousel-item{
    width: 100%;
    height: 50%;
  }
}  */
@media (max-width:565px){
    .nav-link{
        font-size: 75% ;
    }
    .hero-text h1{
        font-size:100% ;
    }
    .hero-text{
        top: 30%;

    }
    .hero{
        height: fit-content;
    }
    #Logo{
        width: 50% ;
        height: 50%;
    }
    .hero img{
        height: 50%;
    }
    .carousel-item{
        width: 100%;
    }

}
/* // `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */
/* Centrar los items del navbar solo en pantallas grandes */


/* Mantener el comportamiento móvil */
