:root{
    --colorPrincipal:#5B1B30;
    --letrasnav:#AC9758;
    --blanco:#FFFFFF;
    --negro:#000000;
    --contraste:#FEEBEB;
    --colorSecundario:#9F1442;
}
.playfair-display-Titulo {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 25pt !important;
}

.playfair-Subtitulo {
  font-family: "Playfair", serif !important; 
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 20pt !important;
}

.playfair-Navegacion {
  font-family: "Playfair", serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.lora-Contenido {
  font-family: "Lora", serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body{
    background-color: var(--contraste);
    font-family:"Lora" ;
    font-size: 12pt;
}

h1{
    font-family: "Playfair Display";
    width: 50%;

    text-shadow: 0pt 4pt var(--negro);
    font-size: 25pt;
    color: var(--blanco);
}
h2{
    font-family: "Playfair";
    font-size: 20pt;
}
.texto{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.navbar{
    background-color: var(--colorPrincipal)!important;
    height: 100px;
    padding: 0% !important;

 
}
span{
    color: var(--letrasnav) !important;
}
.nav-link{
    color: var(--letrasnav);
    font-family: "Playfair Display";
    font-size: 20pt;
    font-weight: 500;
    margin: 0 25px;
}
.nav-link:hover{
    color: var(--contraste);
}

#Logo:hover{
    height: 61pt;
}

a img{
    height: auto;
    width: auto;
    max-width: 130%;
}
footer{
    background-color: var(--colorPrincipal);
    color: var(--letrasnav);
    text-align: center;
}
footer h5 {
  color: var(--blanco);
  font-family: "Playfair Display";
  font-size: 13pt;
  margin-top: 1rem;
}

footer svg {
  width: 30px;
  height: 30px;

}
.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: var(--contraste);
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -35%);
    text-align: center;
    color: var(--blanco);

}

.hero-text h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40pt;
  line-height: 1.4;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.card {
  background-color: var(--contraste);
  border: none;
  width: 90%;
  margin: 2rem auto;
  
}
.carousel .card{
    width: auto;
    align-self: center;
    border-radius: 30pt;
    background-color: var(--blanco);
    box-shadow:  1px 1px 3px 1px var(--negro);
}
.col-md-6 .card{
    width: 70%;
}
#Cambio {
    background-color: var(--colorSecundario);
    color: var(--blanco);

}
.carousel-indicators{
    margin-bottom: 0% !important;
}
.carousel-indicators [data-bs-target]{
    background-color: var(--colorPrincipal);
    height: 5px;
    width: 40px;
    border-radius:47%;

}
#Cambio h5{
    color: var(--blanco);
}
.card-body h5 {
  font-family: "Playfair Display";
  font-size: 24pt;
  margin-bottom: 1rem;
  color: var(--colorSecundario);
}

.card-body p {
  font-size: 14pt;
  text-align: justify;
  line-height: 1.8;
  margin-right: 10pt;
}
.card img {
    object-fit: cover;
    height: 100%;
    border-radius: 30pt;
}
#Vino{
    background-color: var(--blanco);
    margin-bottom: 2rem;
}
#Blanco, #Tinto,#Formulario{
    background-color: var(--colorPrincipal);
}


.card-body h5 {
    color: var(--colorSecundario);
    font-family: 'Playfair Display', serif;
}


.card-header-cata-h5 {
    color: var(--letrasNav); 
}

.card-body p {
    font-size: 14px;
    text-align: justify;
}

.nav-item{
    color: var(--letrasnav);
}

.row{
    margin: 0% !important;
    bottom: 20% !important;
}

form input, form textarea, form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: var(--colorSecundario);
    color: var(--blanco);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--colorPrincipal);
}
footer h5:hover{
    text-decoration:underline;
}
.carousel-inner{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.carousel-indicators button{
    color: var(--colorSecundario)!important;
    border-radius: 4px;
}
.carousel-indicators .active{
    color: var(--colorPrincipal) !important;
}
.carousel-item{
    align-self: center;
    width: 50%;
    height: 50%;
}
.carousel img{
    width: 50%;
    align-self: center;
} 
.carousel p, .carousel h5{
    color: var(--negro);
    text-align: center;
 }

@media  (max-width:991px )  {
    .nav-link, .hero-text h1 {
        font-size:100%;

    }
    .nav-link{
        margin: 0%;
    }

    #Logo{
        height: 25%;
    }

    .card img {
        width: 100%;
        padding: 15%;
    }
    .card-body{
        text-align: center;
    }


}
@media (max-width:500px){
    .nav-link, .hero-text h1 {
        font-size:75%;
    }
    #Logo{
        display: none;
    }


}
